# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/
out/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log

# Nick's IDE-specific files
.idea/
*.iml

# Phillipe's vscode files
.vscode/
